System/App_WebReferences/CodeHighlite/codeTools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:type="http://tools.dottoro.com/services/codeTools/types" xmlns:impl="http://tools.dottoro.com/services/codeTools" targetNamespace="http://tools.dottoro.com/services/codeTools" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://tools.dottoro.com/services/codeTools/types">
      <s:element name="Highlight">
        <s:complexType>
          <s:sequence>
            <s:element name="key" type="s:string" />
            <s:element name="lang" type="type:lang" />
            <s:element name="compress" type="s:boolean" />
            <s:element name="lineNumbers" type="s:boolean" />
            <s:element name="helpLinks" type="s:boolean" />
            <s:element name="nofollow" type="s:boolean" />
            <s:element name="tabSize" type="type:tabSize" />
            <s:element name="viewPlainButton" type="s:string" />
            <s:element name="copyButton" type="s:string" />
            <s:element name="printButton" type="s:string" />
            <s:element name="source" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HighlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="requestID" type="s:string" />
            <s:element name="source" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="lang">
        <s:restriction base="s:string">
          <s:enumeration value="CSS" />
          <s:enumeration value="HTML" />
          <s:enumeration value="JavaScript" />
          <s:enumeration value="PHP" />
          <s:enumeration value="XML" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tabSize">
        <s:restriction base="s:positiveInteger">
          <s:minInclusive value="0" />
          <s:maxInclusive value="20" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HighlightResponse">
    <wsdl:part name="parameters" element="type:HighlightResponse" />
  </wsdl:message>
  <wsdl:message name="HighlightRequest">
    <wsdl:part name="parameters" element="type:Highlight" />
  </wsdl:message>
  <wsdl:portType name="CodeToolsPortType">
    <wsdl:operation name="Highlight">
      <wsdl:input name="HighlightRequest" message="impl:HighlightRequest" />
      <wsdl:output name="HighlightResponse" message="impl:HighlightResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeToolsSoapBinding" type="impl:CodeToolsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Highlight">
      <soap:operation soapAction="codeTools#Highlight" />
      <wsdl:input name="HighlightRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighlightResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="codeTools">
    <wsdl:port name="CodeToolsSOAPport_http" binding="impl:CodeToolsSoapBinding">
      <soap:address location="http://tools.dottoro.com/axis2/services/codeTools" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>